<!-- Side navigation -->
<div class="sidenav">
  <br>
  ________________________
  <br>
  <a href='/admin/doctorRequest'>View Doctor Requests</a>
  <br>
  <a href='/admin/supplierRequest'>View Supplier Requests</a>
</div>
