<!-- Side navigation -->
<div class="sidenav">
  <br>
  ________________________
  <br>
  <a href='/admin/doctor-request'>View Doctor Requests</a>
  <br>
  <a href='/admin/supplier-request'>View Supplier Requests</a>
</div>
