<!-- Side navigation -->
<div class="sidenav">
  <br>
  <br>
  <a href='/doctor/details'>My Personal Details</a>
  <a href="/doctor/appointmentRequest">View Appointment Requests</a>
  <a href="/doctor/appointment">View Appointments</a>
</div>
