<!-- Side navigation -->
<div class="sidenav">
  <br>
  ________________________
  <br>
  <a href='/patient/details'>My Personal Details</a>
  <br>
  <a href='/patient/appointment-request'>Doctor Appointment</a>
  <br>
  <a href='/patient/appointment'>View Appointment</a>
</div>
