<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration | CAS</title>
  <link href="../header.css" rel="stylesheet" type="text/css" />
</head>

<header>
  <%- include('../../partials/header') %>
</header>

<body>
  <h1>Clinical Automation System</h1>
  <br>
  <form action="/register" method="post">
    Name : <input type="text" name="username" required="required" placeholder="Atleast 6 characters"><br>
    Date of Birth : <input type="datetime" name="dateOfBirth" required="required"><br>
    Gender : <input type="radio" name="gender" value="male"> Male <input type="radio" name="gender" value="female"> FeMale <input type="radio" name="gender" value="other"> Other <br>
    SignIn As : <input type="radio" name="profession" value="patient"> Patient <input type="radio" name="profession" value="doctor"> Doctor <input type="radio" name="profession" value="supplier"> Supplier <br>
    Mobile Number : <input type="number" name="mobileNumber" required="required"><br>
    address : <input type="text" name="address" required="required"><br>
    Email : <input type="email" name="email" required="required" placeholder="Enter valid email address"><br>
    Password : <input type="password" name="password" required="required" placeholder="Atleast contain 8 characters"><br>
    <div style='color: red;'>
      <% if (messageHolder) { %>
      <%= messageHolder.message %>
      <% } %>
    </div>
    <br>
    <br>
    <button type="submit">Register</button>
  </form>
</body>

</html>
